@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    &,
    &.light-mode {
      --background-app-rgb: 249, 250, 251;
      --color-primary-900: 74, 109, 255;
      --color-primary-800: 92, 124, 255;
      --color-primary-700: 110, 138, 255;
      --color-primary-600: 128, 153, 255;
      --color-primary-500: 146, 167, 255;
      --color-primary-400: 164, 182, 255;
      --color-primary-300: 183, 197, 255;
      --color-primary-200: 201, 211, 255;
      --color-primary-100: 219, 226, 255;
      --color-primary-50: 228, 233, 255;
      --color-secondary-900: 17, 24, 39;
      --color-secondary-800: 31, 41, 55;
      --color-secondary-700: 55, 65, 81;
      --color-secondary-600: 75, 85, 99;
      --color-secondary-500: 107, 114, 128;
      --color-secondary-400: 156, 163, 175;
      --color-secondary-300: 209, 213, 219;
      --color-secondary-200: 229, 231, 235;
      --color-secondary-100: 243, 244, 246;
      --color-secondary-50: 249, 250, 251;
      --color-secondary-0: 255, 255, 255;
      --color-success: 0, 192, 115;
      --color-warning: 255, 153, 0;
      --color-error: 255, 71, 87;
      --color-red-500: 239, 68, 68;
      --color-red-300: 252, 165, 165;
    }

    &.dark-mode {
      --background-app-rgb: 20, 20, 20;
      --color-secondary-900: 249, 250, 251;
      --color-secondary-800: 243, 244, 246;
      --color-secondary-700: 229, 231, 235;
      --color-secondary-600: 209, 213, 219;
      --color-secondary-500: 156, 163, 175;
      --color-secondary-400: 107, 114, 128;
      --color-secondary-300: 75, 85, 99;
      --color-secondary-200: 55, 65, 81;
      --color-secondary-100: 31, 41, 55;
      --color-secondary-50: 17, 24, 39;
      --color-secondary-0: 24, 33, 47;
      --backdrop-color: 0, 0, 0;
    }
  }
}

@layer components {
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .form {
    @apply flex flex-col gap-y-4 bg-secondary-0 p-4 rounded-xl w-full max-w-md;
  }

  .icon {
    @apply cursor-pointer w-5 h-5
  }

  /* table */
  .badgeTitle {
    @apply bg-gray-500 rounded-2xl px-2 py-1 text-secondary-0
  }

  .table__td {
    @apply py-4 px-1 text-secondary-600
  }

  .textField__input {
    @apply w-full py-3 px-4 rounded-xl text-secondary-900 border border-secondary-100 bg-secondary-100 hover:border-primary-500 focus:border-primary-500 focus:bg-secondary-0 transition-all duration-300 ease-out focus:shadow-lg focus:shadow-primary-200 dark:focus:shadow-secondary-200;
  }

  .btn {
    @apply px-3 py-3 rounded-xl transition-all duration-300;
  }

  .btn--primary {
    @apply bg-primary-900 hover:bg-primary-700 text-primary-100;
  }

  .btn--secondary {
    @apply bg-secondary-600 text-secondary-100;
  }

  .btn--outline {
    @apply border border-secondary-300 text-secondary-400;
  }

  .btn--danger {
    @apply border border-rose-700 text-rose-700;
  }

  .badge {
    @apply inline-block whitespace-nowrap rounded-xl px-2 py-0.5;
  }

  .badge--primary {
    @apply bg-primary-900 text-white;
  }

  .badge--secondary {
    @apply bg-secondary-200 text-secondary-600;
  }

  .badge--success {
    @apply bg-green-500 text-white;
  }

  .badge--danger {
    @apply bg-red-500 text-white;
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid rgb(var(--color-primary-900));
    border-right-color: rgb(var(--color-primary-200));
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid rgb(var(--color-primary-200));
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(var(--color-primary-900));
  border-right-color: rgb(var(--color-primary-200));
  animation: rotate 1s infinite linear;
}

.spinner-mini {
  margin: 0;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgb(var(--color-primary-200));
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: none; */
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--vazir-font);
  min-height: 100vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
}
table{
  background-color: white;
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
  background-color: rgb(var(--color-secondary-300), 0.5);
  color: rgb(var(--color-secondary-700), 0.5);
  pointer-events: none;
  box-shadow: none;
}


/* loader */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
  color: rgb(var(--color-primary-500));
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {

  0% {
    translate: -40%;
  }

  50% {
    translate: -60%;
  }

  100% {
    translate: -100%;

  }
}

/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}
